
<top-menu></top-menu>

<div style="display: inline-block">
    <h2>List of members</h2>
    <ul class="members">
        <li *ngFor="#member of members" [class.selected]="member === selectedMember" (click)="onSelect(member)">
            <span class="badge">{{member.externalMemberId}}</span> {{member.firstName}} {{member.lastName}}
        </li>
    </ul>
</div>

<div style="display: inline-block">
    <member-allergies [member]="selectedMember"></member-allergies>
</div>


<div style="display: inline-block">
    <member-diagnoses [member]="selectedMember"></member-diagnoses>
</div>

<member-detail [member]="selectedMember"></member-detail>


