<table>
    <tr>
        <td></td>
        <td align="right"><top-menu></top-menu></td>
    </tr>
    <tr>
        <td valign="top" width="15%" style="padding-right: 10px">
            <div class="list-group">
                <a href="#" class="list-group-item" *ngFor="#member of members" [class.active]="member === selectedMember" (click)="onSelect(member)">
                {{member.firstName}}
                {{member.lastName}}</a>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item" *ngFor="#member of trucareMembers"  (click)="onSelect(member)">
                    {{member.firstName}}
                    {{member.lastName}}
                </a>
            </div>
        </td>
        <td width="80%">
            <div class="container-fluid">
                <div class="row" style="height: 60px"><member-menu></member-menu></div>
                <div class="row" style="height: 300px">
                    <div class="col-xs-4"><member-demographics [member]="selectedMember"></member-demographics></div>
                    <div class="col-xs-4"><member-allergies [member]="selectedMember"></member-allergies></div>
                    <div class="col-xs-4"><member-diagnoses [member]="selectedMember"></member-diagnoses></div>
                </div>
            </div>
        </td>
    </tr>


</table>
