<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Member Information <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Member summary</a></li>
                        <li><a href="#">Demographics</a></li>
                        <li><a href="#">Eligibility & Benefits summary</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Claims summary</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Contacts summary</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HCS <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">HCS Enrollment Summary</a></li>
                        <li><a href="#">Member Centered Plan Summary</a></li>
                        <li><a href="#">Service Request Summary</a></li>
                        <li><a href="#">Individual Service Plan Summary</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clinical <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Medication Summary</a></li>
                        <li><a href="#">Diagnosis Summary</a></li>
                        <li><a href="#">Allergies Summary</a></li>
                        <li><a href="#">Birth Event Summary</a></li>
                        <li><a href="#">Key Metrics Summary</a></li>
                        <li><a href="#">Quality Incident Summary</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Care Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Referrals Summary</a></li>
                        <li><a href="#">Assessments Summary</a></li>
                        <li><a href="#">Care Plan Summary</a></li>
                        <li><a href="#">Case Summary</a></li>
                        <li><a href="#">Program Summary</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Authorizations<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Authorization Summary</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Notes Summary</a></li>
                        <li><a href="#">Correspondence Summary</a></li>
                        <li><a href="#">Document Summary</a></li>
                        <li><a href="#">Time tracking</a></li>
                        <li><a href="#">Cost savings Summary</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">All tasks</a></li>
                        <li><a href="#">Add task</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scheduler <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add Appointment</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>