<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Member
        Information<span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Member summary</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Demographics</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Eligibility & Benefits summary</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Claims summary</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contacts summary</a></li>
    </ul>
</div>